*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 24px;
}

.cabecalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    font-size: 21px;
}

.escola-imagem{
    width: 15%;
}

.escola{
    background-image: linear-gradient(#000000,#E70707);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 135px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 20px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    color: white;
}

.estudante{
    background-image: linear-gradient(#E70707,#000000);
    color: white;
}

.rodape{
    background-color: #000000;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 50px 0;
}